<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{%- seo -%}

<title>
	{%if page.title %}
		{{ page.title }}
	{% else %}
		{{ site.title }}
	{% endif %}
</title>

{% if page.description %}
	<meta itemprop="description" name="description" content="{{ page.description | truncate: 160 }}">
{% endif %}

<meta property="og:locale" content="en_GB">
<meta property="og:type" content="article">
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:site_name" content="{{ site.title }}">
{% if page.description %}
	<meta property="og:description" content="{{ page.description }}">
{% endif %}

<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">
{% endif %}
<meta name="twitter:site" content="@willpower232" />
<meta name="twitter:card" content="summary">

<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

<meta name="pinterest" content="nopin" />
